.d-flex, .quick-menu, .video-container {
  display: flex;
}

.jcc, .search-container, .search-box {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

#hd {
  height: 4.5rem;
  position: relative;
  z-index: 10;
  position: relative;
}
@media (max-width: 991px) {
  #hd {
    height: 3.5rem;
  }
}
#hd h1 {
  font-size: initial;
}

#gnb {
  width: 0;
}
#gnb a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
  padding: 0.625rem;
}
#gnb a:hover {
  color: #D68B30;
}

.Category-btn {
  border: none;
  width: 0;
}
.Category-btn svg {
  width: 26px;
  height: 26px;
}

.top-logo {
  position: absolute;
  right: 51.9375rem;
  top: 1.3125rem;
  width: 8.5rem;
  height: 1.875rem;
}

.util {
  font-weight: 600;
  gap: 0.3125rem;
  justify-content: flex-end;
  padding: 0.3125rem 0.625rem;
  width: 0;
}
@media (max-width: 991px) {
  .util {
    padding: 0;
  }
}
.util svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.3125rem;
}

a {
  display: block;
  gap: 0.3125rem;
  text-decoration: none;
  color: #3F422F;
}

.video-container {
  position: relative;
  height: calc(100vh - 100px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.625rem;
  z-index: -1;
}
.video-container video {
  height: 100%;
}
@media (max-width: 991px) {
  .video-container video {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .video-container video {
    height: 100%;
    width: auto;
  }
}

.video-bg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.625rem;
  z-index: -1;
  -webkit-clip-path: inset(0 round 0.625rem);
          clip-path: inset(0 round 0.625rem);
}

.video-icon {
  position: absolute;
  bottom: 2.4923rem;
  justify-content: center;
}

.search-box,
.search-container {
  z-index: 20;
}

.search-box {
  position: absolute;
  height: 5rem;
  align-content: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  max-width: 1440px;
}
.search-box .search-bg svg {
  margin: 0 auto;
  height: 100%;
}

.search-container {
  align-items: flex-end;
  margin: 0 auto;
}
.search-container ::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1435' height='80' viewBox='0 0 1435 80' fill='none'%3E%3Cpath d='M0 0H1435L1398.51 60.6284C1391.27 72.6491 1378.27 80 1364.24 80H70.7646C56.7343 80 43.7296 72.6491 36.494 60.6284L0 0Z' fill='white'/%3E%3C/svg%3E") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1440px;
  z-index: -1;
}

.topwhere,
.topwhen {
  display: flex;
  max-width: 17.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  line-height: 1rem;
  font-weight: 700;
  margin: 0 0.625rem;
}

.textnowrap {
  padding: 0.625rem;
}

.search-container button {
  gap: 0.625rem;
  width: 17.375rem;
  padding: 0.625rem 0 0.625rem 1.25rem;
  border: 0.0625rem solid #DDD;
  border-radius: 3.125rem;
  background-color: #FFF;
  font-weight: 600;
  color: #777;
}
.search-container button svg {
  width: 1.4375rem;
  height: 1.4375rem;
  margin-right: 0.625rem;
  color: #3F422F;
}

.search-container .close-svg {
  position: absolute;
  top: 0;
  right: 2.5rem;
  background: none;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
}

.search-container .search-btn {
  width: 6.3125rem;
  height: 2.5rem;
  padding: 0.9375rem 2.1875rem;
  background-color: #3F422F;
  color: white;
  font-weight: 600;
  border-radius: 3.125rem;
  text-align: center;
}

.quick-menu {
  position: fixed;
  bottom: 2.5rem;
  right: 3.125rem;
  width: 4.375rem;
  height: 17.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.quick-btn {
  width: 4.375rem;
  height: 4.375rem;
  border: 0.0625rem solid #DDD;
  flex-direction: column;
  font-weight: 500;
  text-align: center;
  border-top: none;
  justify-content: center;
}
.quick-btn:first-child {
  border-top: 0.0625rem solid #DDD;
}
.quick-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.quick-btn span {
  display: block;
}

.btn-reserve {
  border-radius: 10% 10% 0 0;
  background-color: #FFF;
}

.btn-chat,
.btn-log {
  background-color: #FFF;
}

.btn-top {
  border-radius: 0 0 10% 10%;
}

h1 a img {
  max-width: 7.5rem;
  height: auto;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  h1 a img {
    width: 5.6875rem;
  }
  .video-container {
    height: 21.875rem;
  }
  .video-bg {
    height: 21.875rem;
  }
}