.d-flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.ais{
    align-items: start;
}
.h626{
    height: 626px;
}
.h636{
    height: 636px;
}
.h486{
    height: 486px;
}
.h426{
    height: 426px;
}
.h421{
    height: 421px;
}
.h361{
    height: 361px;
}
.h25{
    height: 25px;
}
.w1920{
    width: 1920px;
}
.w1440{
    width: 1440px;
}
.w1208{
    width: 1208px;
}
.w1129{
    width: 1129px;
}
.w4{
    width: 25%;
}
.w3{
    width: 33.333%;
}
#box1{
    width: 287px;
    height: 361px;
}
#box2{
    width: 384px;
    height: 421px;
}

#img1{
    background-image: url(../img/image/image1.jpg);
    width: 287px;
    height: 200px;
    border-radius: 10px;   
}
#img2{
    background-image: url(../img/image/image2.jpg);
    width: 287px;
    height: 200px;
    border-radius: 10px;
}
#img3{
    background-image: url(../img/image/image3.jpg);
    width: 287px;
    height: 200px;
    border-radius: 10px;
}
#img4{
    background-image: url(../img/image/image4.jpg);
    width: 287px;
    height: 200px;
    border-radius: 10px;    
}

#img5{
    background-image: url(../img/image/image5.jpg);
    width: 384px;
    height: 260px;
    border-radius: 10px;
}
#img6{
    background-image: url(../img/image/image6.jpg);
    width: 384px;
    height: 260px;
    border-radius: 10px;
}
#img7{
    background-image: url(../img/image/image7.jpg);
    width: 384px;
    height: 260px;
    border-radius: 10px;
}    
#button5 .point_txt{
    position: relative;
}
#fourbanner1 .main_tit{
    position: relative;
}
#threebanner1 .main_tit{
    position: relative;
}
.button1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 140px;
}.button2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 60px;
}
.button3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 122px;
}
.button4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 61px;
}
.button1:hover rect {
    fill: #f5f5f5;
}
.button2:hover rect {
    fill: #f5f5f5;
}
.button3:hover rect {
    fill: #f5f5f5;
}
.button4:hover rect {
    fill: #f5f5f5;
}
#button5{
    background-color: white;
    color: var(--sub_apricot, rgb(214, 139, 48));
    border: none;
    padding: 15px 50px;
    border-radius: 50px;
    width: 206px;
    height: 40px;
    text-align: center;
}
.name1{
    width: 287px;
    height: 123px;
    display: flex;
    flex-direction: column;
}
.name2{
    width: 384px;
    height: 111px;
    background-color: #faf6f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 260px;
  
}
.location-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.review{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}
.hashtags {
    display: flex;
    width: 65px;
    height: 23px;
}
.hashtag {
    background-color: #f6f6f6;
    padding: 7px 11px;
    border-radius: 10px;
    
}
.view-all-btn {
    width: 92px;
    height: 29px;
    border: 1px solid #dddddd;
    background-color: transparent;
    color: #777777;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}
.view-all-btn:hover {
    background-color: #f5f5f5;
}