:root {
  --container:1440px;
  --container_full:1800px;
  --main_color: rgba(63, 66, 47, 1);
  --sub_ivory: rgba(250, 245, 238, 1);
  --sub_apricot: rgba(214, 139, 48, 1);
  --sub_panBlack: rgba(51, 46, 42, 1);
  --black: rgba(17, 17, 17, 1);
  --gray_1: rgba(68, 68, 68, 1);
  --gray_2: rgba(69, 69, 69, 1);
  --gray_3: rgba(119, 119, 119, 1);
  --gray_4: rgba(221, 221, 221, 1);
  --grya_5: rgba(246, 246, 246, 1);
  --white: rgb(255, 255, 255);
  --font-family: "Suit", sans-serif;
  --main_tit: 2.125rem;
  --sub_tit: 1.5rem;
  --list_tit: 1.25rem;
  --basic_txt: 1rem;
  --point_txt: 0.75rem;
  --basic_space: -0.1rem;
}

body {
  letter-spacing: var(--basic_space, -0.1rem);
  font-family: var(--font-family, "Suit", sans-serif);
}

dl, ol, ul {
  padding: 0;
  margin: 0;
}

.container_full {
  max-width: var(--container_full, 1800px);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.container {
  max-width: var(--container, 1440px);
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.main_tit {
  font-size: var(--main_tit, 2.125rem);
}

.sub_tit {
  font-size: var(--sub_tit, 1.5rem);
}

.list_tit {
  font-size: var(--list_tit, 1.25rem);
}

.basic_txt {
  font-size: var(--basic_txt, 1rem);
}

.point_txt {
  font-size: var(--point_txt, 0.75rem);
}

.organic_bg {
  color: var(--main_color, rgb(63, 66, 47));
}

.ivory {
  color: var(--sub_ivory, rgb(250, 245, 238));
}

.apricot {
  color: var(--sub_apricot, rgb(214, 139, 48));
}

.panBlack {
  color: var(--sub_panBlack, rgb(51, 46, 42));
}

.black {
  color: var(--black, rgb(17, 17, 17));
}

.gray1 {
  color: var(--gray_1, rgb(68, 68, 68));
}

.gray2 {
  color: var(--gray_2, rgb(69, 69, 69));
}

.gray3 {
  color: var(--gray_3, rgb(119, 119, 119));
}

.gray4 {
  color: var(--gray_4, rgb(221, 221, 221));
}

.gray5 {
  color: var(--grya_5, rgb(246, 246, 246));
}

.white {
  color: var(--white, rgb(255, 255, 255));
}

.organic_bg {
  background: var(--main_color, rgb(63, 66, 47));
}

.ivory_bg {
  background: var(--sub_ivory, rgb(250, 245, 238));
}

.apricot_bg {
  background: var(--sub_apricot, rgb(214, 139, 48));
}

.panBlack_bg {
  background: var(--sub_panBlack, rgb(51, 46, 42));
}

.gray5_bg {
  background: var(--grya_5, rgb(246, 246, 246));
}

.p100 {
  padding: 6.25rem 0;
}